<header class="site-header">

  <div class="wrapper">

    <h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <h3 class="site-meta">{{ site.tagline }}</h3>

    <nav class="site-nav">

      
      
      
      
      
	  
	  
	  
	  
	  
	  
	  
	  
<table cellpadding="0" cellspacing="0" table width="100%">
<tr> 
<td width="80%"> 

<center>
<script>
  (function() {
    var cx = 'partner-pub-9965606273577507:7511417145';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
</center>

</td> 
<td width="20%"> 

<center>
<a href="/standing-point" target="_self"><strong><span style="color: rgb(0, 0, 0);">제안/문의</span></strong></a> 
</center>

</td> 
</tr> 
</table>	  
	  
	  
    

      
	  
	 
        
        
        
        
        {% for page in site.pages %}
        {% if page.title %}
        
           
        
        

        
        
       
          
        {% endif %}      
        {% endfor %}
    
    </nav>

  </div>

</header>
